.bike-map{
    height: 100vh;
}

.div-overlay{
    background-color: rgba(180, 163, 11, 0.8);
    position: absolute;
    z-index: 1;
    top: 15px; 
    right: 30px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
}

.div-overlay-bike{
    background-color: rgba(180, 163, 11, 0.8);
    position: absolute;
    z-index: 1;
    bottom: 15px; 
    left: 30px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
}

.overlay-container{
    background-color: blue;
    padding: 5px
}

.overlay-container span{
    color: white;
}

.card{
    background-color: rgba(180, 163, 11, 0.8) !important;
}
.list-group-item{
    background-color: unset !important;
}

.ol-zoom-in, .ol-zoom-out{
    background-color: rgba(180, 163, 11, 0.8) !important;
}